<!DOCTYPE html>
<html>
<head>
    <title>Ajouter Produits à la Facture</title>
</head>
<body>
    <h1>Ajouter Produits à la Facture</h1>
    <form method="post">
        {% csrf_token %}
        <label for="categorie">Catégorie:</label>
        <select id="categorie" name="categorie">
            {% for categorie in categories %}
                <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
            {% endfor %}
        </select>
        
        <label for="produit">Produit:</label>
        <select id="produit" name="produit">
            {% for produit in produits %}
                <option value="{{ produit.id }}">{{ produit.nom }}</option>
            {% endfor %}
        </select>
        
        <label for="quantite">Quantité:</label>
        <input type="number" id="quantite" name="quantite" min="1" required>
        
        <label for="prix">Prix:</label>
        <input type="number" id="prix" name="prix" step="0.01" required>

        <button type="submit">Ajouter Produit</button>
    </form>
</body>
</html>
